.DS_Store
*.log

# Dependencies
node_modules/

# Testing
/coverage

# Production
/build
wakeelfrontend/build/

# Env / secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
wakeelfrontend/.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / OS
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
Untitled
